<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Id</td>
            <td>Categoria</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].category_name %></td>
                <td>
                  <a href="/category/edit/<%= data[i].id %>" class="btn btn-info">Editar</a>
                  <a href="/category/delete/<%= data[i].id %>" class="btn btn-danger" onclick="return confirm('Desea eliminar este elemento?');" >Eliminar</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <form action="/category/saveOrUpdate" method="POST">
          <div class="form-group">
            <% if(edit_data){ %>
              <input type="text" value="<%=edit_data.id%>" name="id" class="form-control" readonly>
            <% } %>
            </div>
            <div class="form-group">
            <input type="text"
                   <% if(edit_data){%>
                       value="<%= edit_data.category_name %>"
                   <% } %>
                   name="category_name" placeholder="Categoria" class="form-control" autofocus>
          </div>
          <button type="submit" class="btn btn-primary">
            Guardar categoria
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
